<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <aside class="side-nav-box">
            <a class="logo-box" href="javascript:;">
                <img class="logo" src="images/logo-light.png" alt="Generic placeholder image">
                <div class="title text-white">Panthera</div>
            </a>
            <div class="side-nav">
                <div class="title">Start</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="javascript:;" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-buffer" aria-hidden="true"></i></div>
                                <div class="title">E-Commerce</div>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="index2.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                    </li>
                                    <li>
                                        <a href="index.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-chart-histogram" aria-hidden="true"></i></div>
                                <div class="title">Server Monitoring</div>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="index4.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                    </li>
                                    <li>
                                        <a href="index3.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="title">Variant</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="dark.html" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-buffer" aria-hidden="true"></i></div>
                                <div class="title">Dark</div>
                            </a>
                        </li>
                        <li>
                            <a href="light.html" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-chart-histogram" aria-hidden="true"></i></div>
                                <div class="title">Light</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">Pages</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="icon.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> 
                                <div class="title">Icon</div>
                            </a>
                        </li>
                        <li>
                            <a href="login.html" class="menu-item">
                                <i class="icon mdi mdi-database-lock" aria-hidden="true"></i> 
                                <div class="title">Login</div>
                            </a>
                        </li>
                        <li>
                            <a href="register.html" class="menu-item">
                                <i class="icon mdi mdi-home-lock-open" aria-hidden="true"></i> 
                                <div class="title">Register</div>
                            </a>
                        </li>
                        <li>
                            <a href="forgot-password.html" class="menu-item">
                                <i class="icon mdi mdi-collage" aria-hidden="true"></i> 
                                <div class="title">Forgot Password</div>
                            </a>
                        </li>
                        <li>
                            <a href="error.html" class="menu-item">
                                <i class="icon mdi mdi-feature-search" aria-hidden="true"></i> 
                                <div class="title">Error Page</div>
                            </a>
                        </li>
                        <li>
                            <a href="invoice.html" class="menu-item">
                                <i class="icon mdi mdi-credit-card" aria-hidden="true"></i> 
                                <div class="title">Invoice</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-buffer" aria-hidden="true"></i></div>
                                <div class="title">3 Level Menu</div>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 1</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 2</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 3</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="title">Apps</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="file-manager.html" class="menu-item">
                                <i class="icon mdi mdi-folder-open" aria-hidden="true"></i> 
                                <div class="title">File Manager</div>
                            </a>
                        </li>
                        <li>
                            <a href="mail.html" class="menu-item">
                                <i class="icon mdi mdi-email-check" aria-hidden="true"></i> 
                                <div class="title">Mailbox</div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html" class="menu-item">
                                <i class="icon mdi mdi-forum" aria-hidden="true"></i> 
                                <div class="title">Chat</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">Form</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="form.html" class="menu-item">
                                <i class="icon mdi mdi-file" aria-hidden="true"></i> 
                                <div class="title">General Form</div>
                            </a>
                        </li>
                        <li>
                            <a href="form-validation.html" class="menu-item">
                                <i class="icon mdi mdi-file-alert" aria-hidden="true"></i> 
                                <div class="title">Form Validation</div>
                            </a>
                        </li>
                        <li>
                            <a href="custom-form.html" class="menu-item">
                                <i class="icon mdi mdi-file-compare" aria-hidden="true"></i> 
                                <div class="title">Custom Form</div>
                            </a>
                        </li>
                        <li>
                            <a href="extended-form.html" class="menu-item">
                                <i class="icon mdi mdi-file-document-outline" aria-hidden="true"></i> 
                                <div class="title">Extended Form</div>
                            </a>
                        </li>
                        <li>
                            <a href="input-group.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-text" aria-hidden="true"></i> 
                                <div class="title">Input Group</div>
                            </a>
                        </li>
                        <li>
                            <a href="button.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-today" aria-hidden="true"></i> 
                                <div class="title">Button</div>
                            </a>
                        </li>
                        <li>
                            <a href="button-group.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-multiple" aria-hidden="true"></i> 
                                <div class="title">Button Group</div>
                            </a>
                        </li>
                        <li>
                            <a href="dropdown.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-multiselect" aria-hidden="true"></i> 
                                <div class="title">Dropdown</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">UI Elements</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="alert.html" class="menu-item">
                                <i class="icon mdi mdi-message-alert" aria-hidden="true"></i> 
                                <div class="title">Alert</div>
                            </a>
                        </li>
                        <li>
                            <a href="badge.html" class="menu-item">
                                <i class="icon mdi mdi-cube" aria-hidden="true"></i> 
                                <div class="title">Badge</div>
                            </a>
                        </li>
                        <li>
                            <a href="breadcrumb.html" class="menu-item">
                                <i class="icon mdi mdi-code-less-than" aria-hidden="true"></i> 
                                <div class="title">Breadcrumb</div>
                            </a>
                        </li>
                        <li>
                            <a href="card.html" class="menu-item">
                                <i class="icon mdi mdi-dice-2" aria-hidden="true"></i> 
                                <div class="title">Card</div>
                            </a>
                        </li>
                        <li>
                            <a href="carousel.html" class="menu-item">
                                <i class="icon mdi mdi-domain" aria-hidden="true"></i> 
                                <div class="title">Carousel</div>
                            </a>
                        </li>
                        <li>
                            <a href="chart.html" class="menu-item">
                                <i class="icon mdi mdi-chart-bar" aria-hidden="true"></i> 
                                <div class="title">Chart</div>
                            </a>
                        </li>
                        <li>
                            <a href="collapse.html" class="menu-item">
                                <i class="icon mdi mdi-file-document-box" aria-hidden="true"></i> 
                                <div class="title">Collapse</div>
                            </a>
                        </li>
                        <li>
                            <a href="color.html" class="menu-item">
                                <i class="icon mdi mdi-folder-edit" aria-hidden="true"></i> 
                                <div class="title">Color</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">UI Blocks</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="grid.html" class="menu-item">
                                <i class="icon mdi mdi-map-outline" aria-hidden="true"></i> 
                                <div class="title">Grid</div>
                            </a>
                        </li>
                        <li>
                            <a href="jumbotron.html" class="menu-item">
                                <i class="icon mdi mdi-microsoft" aria-hidden="true"></i> 
                                <div class="title">Jumbotron</div>
                            </a>
                        </li>
                        <li>
                            <a href="list-group.html" class="menu-item">
                                <i class="icon mdi mdi-map-legend" aria-hidden="true"></i> 
                                <div class="title">List Group</div>
                            </a>
                        </li>
                        <li>
                            <a href="lists.html" class="menu-item">
                                <i class="icon mdi mdi-note-multiple" aria-hidden="true"></i> 
                                <div class="title">Lists</div>
                            </a>
                        </li>
                        <li>
                            <a href="modal.html" class="menu-item">
                                <i class="icon mdi mdi-package" aria-hidden="true"></i> 
                                <div class="title">Modal</div>
                            </a>
                        </li>
                        <li>
                            <a href="pagination.html" class="menu-item">
                                <i class="icon mdi mdi-palette-swatch" aria-hidden="true"></i> 
                                <div class="title">Pagination</div>
                            </a>
                        </li>
                        <li>
                            <a href="progress.html" class="menu-item">
                                <i class="icon mdi mdi-playlist-edit" aria-hidden="true"></i> 
                                <div class="title">Progress</div>
                            </a>
                        </li>
                        <li>
                            <a href="table.html" class="menu-item">
                                <i class="icon mdi mdi-rounded-corner" aria-hidden="true"></i> 
                                <div class="title">Table</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">Text</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="text-utilities.html" class="menu-item">
                                <i class="icon mdi mdi-stairs" aria-hidden="true"></i> 
                                <div class="title">Text Utilities</div>
                            </a>
                        </li>
                        <li>
                            <a href="typography.html" class="menu-item">
                                <i class="icon mdi mdi-text" aria-hidden="true"></i> 
                                <div class="title">Typography</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="top-bar-box">
            <div class="container">
                <div class="top-bar">
                    <div class="page-info">HOME / PRODUCTS / PANTHERA</div>
                    <div class="top-side-box">
                        <div class="notification-box">
                            <div class="notification-item">
                                <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-view-grid" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Messages</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="messages-content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Geena Fern</div>
                                                <div class="messages">Changed group name.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Added new post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
                    <div class="user-profile">
                        <img class="user-image" src="images/profile-1.jpg" alt="Generic placeholder image">
                        <div class="info">
                            <div class="user-name">Wiley Gladwyn</div>
                            <div class="user-info">Administrator</div>
                        </div>
                        <div class="user-profile-content">
                            <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="container">
                <div class="box-layout">
                    <div class="main-layout full-width">
                        <div class="content-box fadeInUp animated">
                            <div class="row no-gutters p-20 align-items-center">
                                <div class="col-12 box-title">Ckeditor</div>
                            </div>
                            <div class="px-20 pb-20">
                                <textarea name="content" id="editor"> &lt;p&gt;Here goes the initial content of the editor.&lt;/p&gt; </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-20">
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Select2</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <p><a class="text-primary" target="blank" href="https://select2.org">Select2</a> was designed to be a replacement for the standard <code>&lt;select&gt;</code> box that is displayed by the browser. By default it supports all options and operations that are available in a standard select box, but with added flexibility.</p>
                                        <p>Select2 can take a regular select box like this.</p>
                                        <select class="form-control mb-10">
                                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                                <option value="AK">Alaska</option>
                                                <option value="HI">Hawaii</option>
                                            </optgroup>
                                            <optgroup label="Pacific Time Zone">
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                            </optgroup>
                                            <optgroup label="Mountain Time Zone">
                                                <option value="AZ">Arizona</option>
                                                <option value="CO">Colorado</option>
                                                <option value="ID">Idaho</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="UT">Utah</option>
                                                <option value="WY">Wyoming</option>
                                            </optgroup>
                                            <optgroup label="Central Time Zone">
                                                <option value="AL">Alabama</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TX">Texas</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="WI">Wisconsin</option>
                                            </optgroup>
                                            <optgroup label="Eastern Time Zone">
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="IN">Indiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="OH">Ohio</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WV">West Virginia</option>
                                            </optgroup>
                                        </select>
                                        <p>And turn it into this.</p>
                                        <select class="js-states form-control">
                                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                                <option value="AK">Alaska</option>
                                                <option value="HI">Hawaii</option>
                                            </optgroup>
                                            <optgroup label="Pacific Time Zone">
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                            </optgroup>
                                            <optgroup label="Mountain Time Zone">
                                                <option value="AZ">Arizona</option>
                                                <option value="CO">Colorado</option>
                                                <option value="ID">Idaho</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="UT">Utah</option>
                                                <option value="WY">Wyoming</option>
                                            </optgroup>
                                            <optgroup label="Central Time Zone">
                                                <option value="AL">Alabama</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TX">Texas</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="WI">Wisconsin</option>
                                            </optgroup>
                                            <optgroup label="Eastern Time Zone">
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="IN">Indiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="OH">Ohio</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WV">West Virginia</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-20">
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Bootstrap Datepicker</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <p><a class="text-primary" target="blank" href="http://www.daterangepicker.com/">Date Range Picker</a> can be attached to any webpage element to pop up two calendars for selecting dates, times, or predefined ranges like "Last 30 Days".</p>
                                        <p>Basic Datepicker</p>
                                        <input type="text" class="form-control mb-15" name="date" value="01/01/2018" />
                                        <p>Daterangepicker</p>
                                        <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {

                // Select2
                $('.js-states').select2()

                // Daterangepicker
                $('input[name="date"]').daterangepicker({
                    singleDatePicker: true
                }, function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))
                })

                $('input[name="daterange"]').daterangepicker(function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))
                })
            })

            // Ckeditor
            ClassicEditor.create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error)
            })
        </script>
    </body>
</html>