<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <div class="top-bar-box pl-0">
            <div class="container-fluid">
                <div class="top-bar">
                    <a class="logo-box" href="javascript:;">
                        <img class="logo" src="images/logo.png" alt="Generic placeholder image">
                        <div class="title">Panthera</div>
                    </a>
                    <div class="page-info">HOME / PRODUCTS / PANTHERA</div>
                    <div class="top-side-box">
                        <div class="notification-box">
                            <div class="notification-item">
                                <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-checkbox-multiple-blank" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Messages</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="messages-content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Geena Fern</div>
                                                <div class="messages">Changed group name.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Added new post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
                    <div class="user-profile">
                        <img class="user-image" src="images/profile-1.jpg" alt="Generic placeholder image">
                        <div class="info">
                            <div class="user-name">Wiley Gladwyn</div>
                            <div class="user-info">Administrator</div>
                        </div>
                        <div class="user-profile-content">
                            <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                        </div>
                    </div>
                </div>
                <div class="mail-top-bar-box">
                    <div class="mail-top-bar">
                        <div class="side-bar d-none d-lg-flex align-items-center text-size-15 font-weight-normal">File Manager</div>
                        <div class="main-bar">
                            <div class="row h-100">
                                <div class="col-12 col-xl-5">
                                    <div class="d-flex align-items-center h-100 position-relative">
                                        <input type="text" class="form-control w-100 py-7 border-color-1" placeholder="Search">
                                        <i class="mdi mdi-magnify text-size-18 position-absolute post-14 posr-8 text-color-2" aria-hidden="true"></i> 
                                    </div>
                                </div>
                                <div class="col-7 d-none d-xl-flex align-items-center h-100">
                                    <div class="ml-auto">3.34 GB (19%) of 17 GB used</div>
                                    <div class="fw-3 fh-3 rounded-circle bg-color-1 d-inline-block mx-8"></div>
                                    <a class="text-primary" href="">More details</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper ml-0 mt-150 mt-lg-105">
            <div class="container-fluid">
                <div class="box-layout">
                    <div class="file-manager-menu-layout fadeInLeft animated">
                        <button class="btn btn-primary fw-140 mt-10 font-weight-normal">UPLOAD FILES</button>
                        <div class="title">Files</div>
                        <ul>
                            <li class="active">
                                <a href="index.html">
                                    <i class="icon mdi mdi-inbox" aria-hidden="true"></i> All Files 
                                    <div class="badge badge-pill badge-secondary">120</div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-star" aria-hidden="true"></i> Images</a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <i class="icon mdi mdi-clock" aria-hidden="true"></i> Document 
                                    <div class="badge badge-pill badge-secondary">73</div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-arrow-right-bold-box" aria-hidden="true"></i> Video</a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <i class="icon mdi mdi-collage" aria-hidden="true"></i> Music 
                                    <div class="badge badge-pill badge-secondary">3</div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-file" aria-hidden="true"></i> Others</a>
                            </li>
                        </ul>
                        <div class="title">Shared Files</div>
                        <ul>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-inbox" aria-hidden="true"></i> My Share</a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-delete" aria-hidden="true"></i> Trash</a>
                            </li>
                        </ul>
                        <div class="title">Tags</div>
                        <ul>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-danger rounded-circle d-inline-block mr-10"></div>
                                    Red
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-primary rounded-circle d-inline-block mr-10"></div>
                                    Blue
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-warning rounded-circle d-inline-block mr-10"></div>
                                    Yellow
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-success rounded-circle d-inline-block mr-10"></div>
                                    Green
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="file-manager-main-layout">
                        <div class="fadeInUp animated">
                            <div class="font-weight-normal text-size-14 mt-15">Today</div>
                            <div class="file-list d-flex flex-wrap mt-15">
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="document fw-87 fh-80">
                                        <div class="file-type">.MP4</div>
                                    </div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Android Books</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Vuejs 2018</div>
                                        <div class="mt-3">24 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="document fw-87 fh-80">
                                        <div class="file-type">.MP3</div>
                                    </div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Musics</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Documents</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Games</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="empty-directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Movies</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="document fw-87 fh-80">
                                        <div class="file-type">.JPG</div>
                                    </div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Movies</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fadeInUp animated">
                            <div class="font-weight-normal text-size-14 mt-10">Yesterday</div>
                            <div class="file-list d-flex flex-wrap mt-15">
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="document fw-87 fh-80">
                                        <div class="file-type">.MP4</div>
                                    </div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Android Books</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Vuejs 2018</div>
                                        <div class="mt-3">24 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="document fw-87 fh-80">
                                        <div class="file-type">.MP3</div>
                                    </div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Musics</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Documents</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Games</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="empty-directory fw-87 fh-80"></div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Movies</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file w-100 w-sm-46 w-md-30 w-xl-23 px-20 py-10 d-flex rounded position-relative">
                                    <div class="document fw-87 fh-80">
                                        <div class="file-type">.JPG</div>
                                    </div>
                                    <div class="w-50 d-flex flex-column justify-content-center">
                                        <div class="file-name font-weight-normal">Movies</div>
                                        <div class="mt-3">3 items</div>
                                        <div class="position-absolute post-10 posr-12" role="main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon mdi mdi-dots-vertical text-size-18" aria-hidden="true"></i> 
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="file-manager.html#">Share</a> <a class="dropdown-item" href="file-manager.html#">Download</a> <a class="dropdown-item" href="file-manager.html#">Rename</a> <a class="dropdown-item" href="file-manager.html#">Move</a> <a class="dropdown-item" href="file-manager.html#">Copy</a> <a class="dropdown-item" href="file-manager.html#">Delete</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>