<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <div class="top-bar-box pl-0">
            <div class="container">
                <div class="top-bar">
                    <a class="logo-box" href="javascript:;">
                        <img class="logo" src="images/logo.png" alt="Generic placeholder image">
                        <div class="title">Panthera</div>
                    </a>
                    <div class="page-info">HOME / PRODUCTS / PANTHERA</div>
                    <div class="top-side-box">
                        <div class="notification-box">
                            <div class="notification-item">
                                <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-checkbox-multiple-blank" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Messages</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="messages-content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Geena Fern</div>
                                                <div class="messages">Changed group name.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Added new post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side-layout-toggle">
                            <i class="icon mdi mdi-apps" aria-hidden="true"></i> 
                            <div class="text">Side Content</div>
                        </div>
                    </div>
                    <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
                    <div class="user-profile">
                        <img class="user-image" src="images/profile-1.jpg" alt="Generic placeholder image">
                        <div class="info">
                            <div class="user-name">Wiley Gladwyn</div>
                            <div class="user-info">Administrator</div>
                        </div>
                        <div class="user-profile-content">
                            <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                        </div>
                    </div>
                </div>
                <div class="top-nav-box">
                    <ul class="top-nav">
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-home" aria-hidden="true"></i> Dashboard</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-buffer" aria-hidden="true"></i> E-Commerce</a>
                                        <ul>
                                            <li>
                                                <a href="index2.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                            </li>
                                            <li>
                                                <a href="index.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-chart-histogram" aria-hidden="true"></i> Server Monitoring</a>
                                        <ul>
                                            <li>
                                                <a href="index4.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                            </li>
                                            <li>
                                                <a href="index3.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Pages</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="icon.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Icon</a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="icon mdi mdi-database-lock" aria-hidden="true"></i> Login</a>
                                    </li>
                                    <li>
                                        <a href="register.html"><i class="icon mdi mdi-home-lock-open" aria-hidden="true"></i> Register</a>
                                    </li>
                                    <li>
                                        <a href="forgot-password.html"><i class="icon mdi mdi-collage" aria-hidden="true"></i> Forgot Password</a>
                                    </li>
                                    <li>
                                        <a href="http://panthera.left4code.com/error-page.html"><i class="icon mdi mdi-feature-search" aria-hidden="true"></i> Error Page</a>
                                    </li>
                                    <li>
                                        <a href="invoice.html"><i class="icon mdi mdi-credit-card" aria-hidden="true"></i> Invoice</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Apps</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="file-manager.html"><i class="icon mdi mdi-folder-open" aria-hidden="true"></i> File Manager</a>
                                    </li>
                                    <li>
                                        <a href="mail.html"><i class="icon mdi mdi-email-check" aria-hidden="true"></i> Mailbox</a>
                                    </li>
                                    <li>
                                        <a href="chat.html"><i class="icon mdi mdi-forum" aria-hidden="true"></i> Chat</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-file" aria-hidden="true"></i> Form</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="form.html"><i class="icon mdi mdi-file" aria-hidden="true"></i> General Form</a>
                                    </li>
                                    <li>
                                        <a href="form-validation.html"><i class="icon mdi mdi-file-alert" aria-hidden="true"></i> Form Validation</a>
                                    </li>
                                    <li>
                                        <a href="custom-form.html"><i class="icon mdi mdi-file-compare" aria-hidden="true"></i> Custom Form</a>
                                    </li>
                                    <li>
                                        <a href="extended-form.html"><i class="icon mdi mdi-file-document-outline" aria-hidden="true"></i> Extended Form</a>
                                    </li>
                                    <li>
                                        <a href="input-group.html"><i class="icon mdi mdi-calendar-text" aria-hidden="true"></i> Input Group</a>
                                    </li>
                                    <li>
                                        <a href="button.html"><i class="icon mdi mdi-calendar-today" aria-hidden="true"></i> Button</a>
                                    </li>
                                    <li>
                                        <a href="button-group.html"><i class="icon mdi mdi-calendar-multiple" aria-hidden="true"></i> Button Group</a>
                                    </li>
                                    <li>
                                        <a href="dropdown.html"><i class="icon mdi mdi-calendar-multiselect" aria-hidden="true"></i> Dropdown</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-box-shadow" aria-hidden="true"></i> UI Elements</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="alert.html"><i class="icon mdi mdi-message-alert" aria-hidden="true"></i> Alert</a>
                                    </li>
                                    <li>
                                        <a href="badge.html"><i class="icon mdi mdi-cube" aria-hidden="true"></i> Badge</a>
                                    </li>
                                    <li>
                                        <a href="breadcrumb.html"><i class="icon mdi mdi-code-less-than" aria-hidden="true"></i> Breadcrumb</a>
                                    </li>
                                    <li>
                                        <a href="card.html"><i class="icon mdi mdi-dice-2" aria-hidden="true"></i> Card</a>
                                    </li>
                                    <li>
                                        <a href="carousel.html"><i class="icon mdi mdi-domain" aria-hidden="true"></i> Carousel</a>
                                    </li>
                                    <li>
                                        <a href="chart.html"><i class="icon mdi mdi-chart-bar" aria-hidden="true"></i> Chart</a>
                                    </li>
                                    <li>
                                        <a href="collapse.html"><i class="icon mdi mdi-file-document-box" aria-hidden="true"></i> Collapse</a>
                                    </li>
                                    <li>
                                        <a href="color.html"><i class="icon mdi mdi-folder-edit" aria-hidden="true"></i> Color</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-camera-burst" aria-hidden="true"></i> UI Blocks</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="grid.html"><i class="icon mdi mdi-map-outline" aria-hidden="true"></i> Grid</a>
                                    </li>
                                    <li>
                                        <a href="jumbotron.html"><i class="icon mdi mdi-microsoft" aria-hidden="true"></i> Jumbotron</a>
                                    </li>
                                    <li>
                                        <a href="list-group.html"><i class="icon mdi mdi-map-legend" aria-hidden="true"></i> List Group</a>
                                    </li>
                                    <li>
                                        <a href="lists.html"><i class="icon mdi mdi-note-multiple" aria-hidden="true"></i> Lists</a>
                                    </li>
                                    <li>
                                        <a href="modal.html"><i class="icon mdi mdi-package" aria-hidden="true"></i> Modal</a>
                                    </li>
                                    <li>
                                        <a href="pagination.html"><i class="icon mdi mdi-palette-swatch" aria-hidden="true"></i> Pagination</a>
                                    </li>
                                    <li>
                                        <a href="progress.html"><i class="icon mdi mdi-playlist-edit" aria-hidden="true"></i> Progress</a>
                                    </li>
                                    <li>
                                        <a href="table.html"><i class="icon mdi mdi-rounded-corner" aria-hidden="true"></i> Table</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-chart-gantt" aria-hidden="true"></i> Text</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="text-utilities.html"><i class="icon mdi mdi-stairs" aria-hidden="true"></i> Text Utilities</a>
                                    </li>
                                    <li>
                                        <a href="typography.html"><i class="icon mdi mdi-text" aria-hidden="true"></i> Typography</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-wrapper ml-0 mt-100 mt-lg-105">
            <div class="container">
                <div class="box-layout">
                    <div class="main-layout">
                        <div class="content-box fadeInUp animated d-md-flex align-items-center">
                            <div class="py-15">
                                <div class="px-20 font-weight-normal border-md-right border-color-3">Notification</div>
                            </div>
                            <div class="px-20 mmt-5 mmt-md-0 pb-15 py-md-0 d-sm-flex align-items-center flex-grow-1"> <span class="d-block">DRP3 Droplet Event Maintenance 2019-03-07 01:00 UTC</span> <a class="text-color-4 mt-5 ml-auto mt-sm-0 d-inline-block py-4 rounded-half-circle" href="">Details</a> </div>
                        </div>
                        <div class="content-box mt-10 position-relative fadeInUp animated">
                            <div class="row no-gutters px-20 pt-20 pb-15 align-items-center">
                                <div class="col-12 box-title">CPU Graph - Day (5 min avg)</div>
                            </div>
                            <canvas class="px-20 pb-20" id="line-chart" height="140"></canvas>
                        </div>
                        <div class="content-box mt-10 fadeInUp animated">
                            <div class="row no-gutters px-20 py-15 align-items-center">
                                <div class="col-12 box-title">Dashboard</div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Configuration Profiles</th>
                                            <th class="text-center">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="radio" class="form-check">
                                            </td>
                                            <td class="text-nowrap"><a class="text-primary" href="">My Ubuntu 16.04 LTS Profile</a> (Latest 64 bit (4.18.16-x86_64-drp118))</td>
                                            <td class="text-center text-nowrap"> <a class="text-primary mx-2" href="">Edit</a> <a class="text-primary mx-2" href="">Remove</a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="w-100 d-flex justify-content-between align-items-center px-15 py-10">
                                <button class="btn btn-primary">Reboot</button>
                                <div class="text-right"> <a class="text-primary ml-10" href="">Rebuild</a> <a class="text-primary ml-10" href="">Deploy an Image</a> <a class="text-primary ml-10" href="">Create a new Configuration Profile</a> </div>
                            </div>
                        </div>
                        <div class="content-box mt-10 fadeInUp animated">
                            <div class="row no-gutters px-20 py-15 align-items-center">
                                <div class="col-12 box-title">Disks</div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Disk</th>
                                            <th class="text-center">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-nowrap"> <i class="icon mdi mdi-database mr-3" aria-hidden="true"></i> Ubuntu 16.04 LTS Disk <span class="text-color-2">(81408 MB, ext4)</span> </td>
                                            <td class="text-center text-nowrap"> <a class="text-primary mx-2" href="">Edit</a> <a class="text-primary mx-2" href="">Remove</a> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap"> <i class="icon mdi mdi-database mr-3" aria-hidden="true"></i> 512MB Swap Image <span class="text-color-2">(512 MB, swap)</span> </td>
                                            <td class="text-center text-nowrap"> <a class="text-primary mx-2" href="">Edit</a> <a class="text-primary mx-2" href="">Remove</a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right px-15 py-10"> <a class="text-primary ml-10" href="">Create a new Disk</a> </div>
                        </div>
                        <div class="content-box mt-10 fadeInUp animated">
                            <div class="row no-gutters px-20 py-15 align-items-center">
                                <div class="col-12 box-title">Host Job Queue</div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Queue</th>
                                            <th>Info</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-nowrap">System Boot - My Ubuntu 16.04 LTS Profile</td>
                                            <td class="text-nowrap">Entered: 2 months 3 days ago - Took: 16 seconds</td>
                                            <td class="text-center">
                                                <div class="fw-6 fh-6 d-inline-block mr-5 bg-success rounded-circle"></div>
                                                Success 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap">Resize Disk - [7462215]</td>
                                            <td class="text-nowrap">Entered: 2 months 3 days ago - Took: 3 seconds</td>
                                            <td class="text-center">
                                                <div class="fw-6 fh-6 d-inline-block mr-5 bg-success rounded-circle"></div>
                                                Success 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap">System Shutdown</td>
                                            <td class="text-nowrap">Entered: 2 months 3 days ago - Took: 11 seconds</td>
                                            <td class="text-center">
                                                <div class="fw-6 fh-6 d-inline-block mr-5 bg-success rounded-circle"></div>
                                                Success 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap">Resize Disk - [7462215]</td>
                                            <td class="text-nowrap">Entered: 2 months 3 days ago - Took: 0 seconds</td>
                                            <td class="text-center">
                                                <div class="fw-6 fh-6 d-inline-block mr-5 bg-danger rounded-circle"></div>
                                                Failed 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right px-15 py-10"> <a class="text-primary ml-10" href="">More</a> </div>
                        </div>
                    </div>
                    <div class="side-layout">
                        <div class="content-box p-20 fadeInRight animated">
                            <div class="d-flex justify-content-between">
                                <div class="box-title">Server Status</div>
                            </div>
                            <div class="mt-5">Your server is currently</div>
                            <div class="text-size-20 font-weight-normal mt-10">Running</div>
                            <a href="" class="text-primary mt-10">Shut Down</a> 
                            <div class="mt-10">64 days uptime</div>
                        </div>
                        <div class="content-box p-20 mt-10 fadeInRight animated">
                            <div class="d-flex justify-content-between">
                                <div class="box-title">Network</div>
                                <a href="" class="mt-2">Refresh</a> 
                            </div>
                            <div class="mt-10 mb-5">Transfer/mo: 4000 GB</div>
                            <div class="mb-5">Incoming: 1.43 GB</div>
                            <div class="mb-5">Outgoing: 270 GB</div>
                            <div class="mb-5">Total: 271 GB</div>
                            <div class="mt-20 flex-fill">
                                You have used 5% 
                                <div class="progress my-7">
                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                of your monthly transfer 
                            </div>
                        </div>
                        <div class="content-box p-20 mt-10 fadeInRight animated">
                            <div class="d-flex justify-content-between">
                                <div class="box-title">Storage</div>
                                <a href="" class="mt-2">Refresh</a> 
                            </div>
                            <div class="mt-10 mb-5">Total: 81920 MB</div>
                            <div class="mb-5">Used: 81920 MB</div>
                            <div class="mb-5">Free: 0 MB</div>
                            <div class="mt-20 flex-fill">
                                You have used 5% 
                                <div class="progress my-7">
                                    <div class="progress-bar w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                of your monthly transfer 
                            </div>
                        </div>
                        <div class="content-box p-20 mt-10 fadeInRight animated">
                            <div class="d-flex justify-content-between">
                                <div class="box-title">Backup</div>
                            </div>
                            <div class="mt-10 mb-5">No - <a class="text-primary" href="">Enable</a></div>
                        </div>
                        <div class="content-box p-20 mt-10 fadeInRight animated">
                            <div class="d-flex justify-content-between">
                                <div class="box-title">Host</div>
                            </div>
                            <div class="mt-10 mb-5"><span class="font-weight-normal">singapore115</span> (DRP)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var lineChart = $("#line-chart")
                var lineData = {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Visitors Graph",
                        borderColor: "#8ED9FF",
                        pointRadius: 2,
                        borderWidth: 1,
                        backgroundColor: "#b6e2ff73",
                        pointBackgroundColor: "#8ED9FF",
                        data: [1, 22, 10, 27, 11, 40, 24, 18, 15, 32, 18, 5]
                    },
                    {
                        label: "Visitors Graph",
                        borderColor: "#2b52ab",
                        pointRadius: 2,
                        borderWidth: 1,
                        backgroundColor: "#2b52ab2b",
                        pointBackgroundColor: "#2b52ab",
                        data: [3, 24, 17, 17, 31, 21, 44, 2, 25, 21, 27, 6]
                    }]
                };

                var myLineChart = new Chart(lineChart, {
                    type: 'line',
                    data: lineData,
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontSize: '11',
                                    fontColor: '#969da5'
                                },
                                gridLines: {
                                    color: '#f6f8fd',
                                    zeroLineColor: '#f6f8fd'
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    color: '#f6f8fd',
                                    zeroLineColor: '#f6f8fd'
                                },
                                ticks: {
                                    fontSize: '11',
                                    fontColor: '#969da5'
                                }
                            }]
                        }
                    }
                })
            })
        </script>
    </body>
</html>