<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <div class="top-bar-box pl-0">
            <div class="container">
                <div class="top-bar">
                    <a class="logo-box" href="javascript:;">
                        <img class="logo" src="images/logo.png" alt="Generic placeholder image">
                        <div class="title">Panthera</div>
                    </a>
                    <div class="page-info">HOME / PRODUCTS / PANTHERA</div>
                    <div class="top-side-box">
                        <div class="notification-box">
                            <div class="notification-item">
                                <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-checkbox-multiple-blank" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Messages</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="messages-content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Geena Fern</div>
                                                <div class="messages">Changed group name.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Added new post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
                    <div class="user-profile">
                        <img class="user-image" src="images/profile-1.jpg" alt="Generic placeholder image">
                        <div class="info">
                            <div class="user-name">Wiley Gladwyn</div>
                            <div class="user-info">Administrator</div>
                        </div>
                        <div class="user-profile-content">
                            <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                        </div>
                    </div>
                </div>
                <div class="top-nav-box">
                    <ul class="top-nav">
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-home" aria-hidden="true"></i> Dashboard</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-buffer" aria-hidden="true"></i> E-Commerce</a>
                                        <ul>
                                            <li>
                                                <a href="index2.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                            </li>
                                            <li>
                                                <a href="index.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-chart-histogram" aria-hidden="true"></i> Server Monitoring</a>
                                        <ul>
                                            <li>
                                                <a href="index4.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                            </li>
                                            <li>
                                                <a href="index3.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Pages</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="icon.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Icon</a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="icon mdi mdi-database-lock" aria-hidden="true"></i> Login</a>
                                    </li>
                                    <li>
                                        <a href="register.html"><i class="icon mdi mdi-home-lock-open" aria-hidden="true"></i> Register</a>
                                    </li>
                                    <li>
                                        <a href="forgot-password.html"><i class="icon mdi mdi-collage" aria-hidden="true"></i> Forgot Password</a>
                                    </li>
                                    <li>
                                        <a href="http://panthera.left4code.com/error-page.html"><i class="icon mdi mdi-feature-search" aria-hidden="true"></i> Error Page</a>
                                    </li>
                                    <li>
                                        <a href="invoice.html"><i class="icon mdi mdi-credit-card" aria-hidden="true"></i> Invoice</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Apps</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="file-manager.html"><i class="icon mdi mdi-folder-open" aria-hidden="true"></i> File Manager</a>
                                    </li>
                                    <li>
                                        <a href="mail.html"><i class="icon mdi mdi-email-check" aria-hidden="true"></i> Mailbox</a>
                                    </li>
                                    <li>
                                        <a href="chat.html"><i class="icon mdi mdi-forum" aria-hidden="true"></i> Chat</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-file" aria-hidden="true"></i> Form</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="form.html"><i class="icon mdi mdi-file" aria-hidden="true"></i> General Form</a>
                                    </li>
                                    <li>
                                        <a href="form-validation.html"><i class="icon mdi mdi-file-alert" aria-hidden="true"></i> Form Validation</a>
                                    </li>
                                    <li>
                                        <a href="custom-form.html"><i class="icon mdi mdi-file-compare" aria-hidden="true"></i> Custom Form</a>
                                    </li>
                                    <li>
                                        <a href="extended-form.html"><i class="icon mdi mdi-file-document-outline" aria-hidden="true"></i> Extended Form</a>
                                    </li>
                                    <li>
                                        <a href="input-group.html"><i class="icon mdi mdi-calendar-text" aria-hidden="true"></i> Input Group</a>
                                    </li>
                                    <li>
                                        <a href="button.html"><i class="icon mdi mdi-calendar-today" aria-hidden="true"></i> Button</a>
                                    </li>
                                    <li>
                                        <a href="button-group.html"><i class="icon mdi mdi-calendar-multiple" aria-hidden="true"></i> Button Group</a>
                                    </li>
                                    <li>
                                        <a href="dropdown.html"><i class="icon mdi mdi-calendar-multiselect" aria-hidden="true"></i> Dropdown</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-box-shadow" aria-hidden="true"></i> UI Elements</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="alert.html"><i class="icon mdi mdi-message-alert" aria-hidden="true"></i> Alert</a>
                                    </li>
                                    <li>
                                        <a href="badge.html"><i class="icon mdi mdi-cube" aria-hidden="true"></i> Badge</a>
                                    </li>
                                    <li>
                                        <a href="breadcrumb.html"><i class="icon mdi mdi-code-less-than" aria-hidden="true"></i> Breadcrumb</a>
                                    </li>
                                    <li>
                                        <a href="card.html"><i class="icon mdi mdi-dice-2" aria-hidden="true"></i> Card</a>
                                    </li>
                                    <li>
                                        <a href="carousel.html"><i class="icon mdi mdi-domain" aria-hidden="true"></i> Carousel</a>
                                    </li>
                                    <li>
                                        <a href="chart.html"><i class="icon mdi mdi-chart-bar" aria-hidden="true"></i> Chart</a>
                                    </li>
                                    <li>
                                        <a href="collapse.html"><i class="icon mdi mdi-file-document-box" aria-hidden="true"></i> Collapse</a>
                                    </li>
                                    <li>
                                        <a href="color.html"><i class="icon mdi mdi-folder-edit" aria-hidden="true"></i> Color</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-camera-burst" aria-hidden="true"></i> UI Blocks</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="grid.html"><i class="icon mdi mdi-map-outline" aria-hidden="true"></i> Grid</a>
                                    </li>
                                    <li>
                                        <a href="jumbotron.html"><i class="icon mdi mdi-microsoft" aria-hidden="true"></i> Jumbotron</a>
                                    </li>
                                    <li>
                                        <a href="list-group.html"><i class="icon mdi mdi-map-legend" aria-hidden="true"></i> List Group</a>
                                    </li>
                                    <li>
                                        <a href="lists.html"><i class="icon mdi mdi-note-multiple" aria-hidden="true"></i> Lists</a>
                                    </li>
                                    <li>
                                        <a href="modal.html"><i class="icon mdi mdi-package" aria-hidden="true"></i> Modal</a>
                                    </li>
                                    <li>
                                        <a href="pagination.html"><i class="icon mdi mdi-palette-swatch" aria-hidden="true"></i> Pagination</a>
                                    </li>
                                    <li>
                                        <a href="progress.html"><i class="icon mdi mdi-playlist-edit" aria-hidden="true"></i> Progress</a>
                                    </li>
                                    <li>
                                        <a href="table.html"><i class="icon mdi mdi-rounded-corner" aria-hidden="true"></i> Table</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon mdi mdi-chart-gantt" aria-hidden="true"></i> Text</a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="text-utilities.html"><i class="icon mdi mdi-stairs" aria-hidden="true"></i> Text Utilities</a>
                                    </li>
                                    <li>
                                        <a href="typography.html"><i class="icon mdi mdi-text" aria-hidden="true"></i> Typography</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-wrapper ml-0 mt-100 mt-lg-105">
            <div class="container">
                <div class="box-layout">
                    <div class="main-layout full-width">
                        <select class="fw-100 fw-lg-140 mb-20 mt-lg-15 mx-auto mx-sm-0 form-control outline bg-white rounded-half-circle">
                            <option>Today</option>
                            <option>7 Days</option>
                            <option>14 Days</option>
                            <option>Last Month</option>
                        </select>
                        <div class="row sm-gutter">
                            <div class="col-12 col-sm-6 col-lg-3 font-weight-normal fadeInDown animated">
                                <div class="content-box d-flex justify-content-between align-items-center px-20 py-8 py-xl-15 position-relative">
                                    <i class="icon mdi mdi-cart text-size-50 text-color-1" aria-hidden="true"></i> 
                                    <div class="text-center text-sm-right">
                                        <div class="text-size-25">$1,500</div>
                                        <div class="text-size-12 text-color-2">ITEM SALES</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 mt-20 mt-sm-0 font-weight-normal fadeInDown animated">
                                <div class="content-box d-flex justify-content-between align-items-center px-20 py-8 py-xl-15 position-relative">
                                    <div class="px-8 py-1 text-success border border-color-1 text-size-10 position-absolute posmt-8 posr-15 bg-white">+2%</div>
                                    <i class="icon mdi mdi-forum text-size-50 text-color-1" aria-hidden="true"></i> 
                                    <div class="text-center text-sm-right">
                                        <div class="text-size-25">3.521</div>
                                        <div class="text-size-12 text-color-2">NEW ORDERS</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 mt-20 mt-lg-0 font-weight-normal fadeInDown animated">
                                <div class="content-box d-flex justify-content-between align-items-center px-20 py-8 py-xl-15 position-relative">
                                    <div class="px-8 py-1 text-danger border border-color-1 text-size-10 position-absolute posmt-8 posr-15 bg-white">-10%</div>
                                    <i class="icon mdi mdi-map-marker text-size-50 text-color-1" aria-hidden="true"></i> 
                                    <div class="text-center text-sm-right">
                                        <div class="text-size-25">2.145</div>
                                        <div class="text-size-12 text-color-2">TOTAL PRODUCTS</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 mt-20 mt-lg-0 font-weight-normal fadeInDown animated">
                                <div class="content-box d-flex justify-content-between align-items-center px-20 py-8 py-xl-15 position-relative">
                                    <i class="icon mdi mdi-arrange-send-backward text-size-50 text-color-1" aria-hidden="true"></i> 
                                    <div class="text-center text-sm-right">
                                        <div class="text-size-25">152.000</div>
                                        <div class="text-size-12 text-color-2">UNIQUE VISITOR</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-9">
                                <div class="content-box mt-10 position-relative fadeInUp animated">
                                    <div class="row no-gutters px-20 pt-20 pb-15 align-items-center">
                                        <div class="col-6 col-md-8 col-lg-9 box-title">Sales Report</div>
                                        <div class="col-6 col-md-4 col-lg-3">
                                            <ul class="nav nav-pills nav-light d-none d-sm-flex justify-content-end">
                                                <li class="nav-item"> <a class="nav-link active" href="index2.html#">Daily</a> </li>
                                                <li class="nav-item"> <a class="nav-link" href="index2.html#">Weekly</a> </li>
                                                <li class="nav-item"> <a class="nav-link" href="index2.html#">Monthly</a> </li>
                                            </ul>
                                            <div class="dropdown text-right d-sm-none">
                                                <i class="mdi mdi-dots-vertical text-size-22" role="button" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i> 
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="index2.html#">Daily</a> <a class="dropdown-item" href="index2.html#">Weekly</a> <a class="dropdown-item" href="index2.html#">Monthly</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <canvas class="px-20 pb-20" id="line-chart" height="120"></canvas>
                                    <div class="row no-gutters pt-10 pb-20">
                                        <div class="col-6 col-sm-4 col-md text-center border-md-right border-color-1">
                                            <div class="text-color-18 text-size-16"> <i class="mdi mdi-cart" aria-hidden="true"></i> <span class="font-weight-normal">1.700</span> </div>
                                            <div class="text-size-11 text-color-2 font-weight-normal mt-5">SALES</div>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md text-center border-md-right border-color-1">
                                            <div class="text-color-18 text-size-16"> <i class="mdi mdi-chart-bar" aria-hidden="true"></i> <span class="font-weight-normal">1.000.000</span> </div>
                                            <div class="text-size-11 text-color-2 font-weight-normal mt-5">SELLINGS</div>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md mt-20 mt-sm-0 text-center border-md-right border-color-1">
                                            <div class="text-color-18 text-size-16"> <i class="mdi mdi-comment-check-outline" aria-hidden="true"></i> <span class="font-weight-normal">102</span> </div>
                                            <div class="text-size-11 text-color-2 font-weight-normal mt-5">COMMENTS</div>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md mt-20 mt-md-0 text-center border-md-right border-color-1">
                                            <div class="text-color-18 text-size-16"> <i class="mdi mdi-buffer" aria-hidden="true"></i> <span class="font-weight-normal">1.201</span> </div>
                                            <div class="text-size-11 text-color-2 font-weight-normal mt-5">VIEWS</div>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md mt-20 mt-md-0 text-center">
                                            <div class="text-color-18 text-size-16"> <i class="mdi mdi-human-greeting" aria-hidden="true"></i> <span class="font-weight-normal">100</span> </div>
                                            <div class="text-size-11 text-color-2 font-weight-normal mt-5">USERS</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box mt-10 fadeInUp animated">
                                    <div class="row no-gutters px-20 py-15 align-items-center">
                                        <div class="col-12 col-sm-8 box-title">Top Rated Products</div>
                                        <div class="col-12 col-sm-4">
                                            <select class="w-100 fw-sm-120 form-control ml-auto mt-20 mt-sm-0 outline rounded-half-circle">
                                                <option>Today</option>
                                                <option>7 Days</option>
                                                <option>14 Days</option>
                                                <option>Last Month</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Images</th>
                                                    <th class="text-center">Category</th>
                                                    <th class="text-center">Stock</th>
                                                    <th class="text-right">Sales</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="font-weight-normal align-middle text-nowrap">Lemon Water</td>
                                                    <td class="align-middle py-8">
                                                        <div class="fw-47 fh-37 item-thumbnail">
                                                            <img class="rounded-half-circle" src="images/preview-6.jpg" alt="Generic placeholder image">
                                                            <a class="fh-18 px-6 my-auto pt-4 text-size-11 lh-11 rounded-half-circle font-weight-normal" href="">view 2+</a> 
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-middle text-nowrap">Food &amp; Drink</td>
                                                    <td class="text-center align-middle">
                                                        <div class="fw-6 fh-6 d-inline-block mr-5 bg-success rounded-circle"></div>
                                                        Available 
                                                    </td>
                                                    <td class="text-right font-weight-normal align-middle">$1.923</td>
                                                    <td class="text-center align-middle text-nowrap">
                                                        <a href=""><i class="mdi mdi-magnify" aria-hidden="true"></i> View Details</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-normal align-middle text-nowrap">Pocari Sweat</td>
                                                    <td class="align-middle py-8">
                                                        <div class="fw-47 fh-37 item-thumbnail">
                                                            <img class="rounded-half-circle" src="images/preview-7.jpg" alt="Generic placeholder image">
                                                            <a class="fh-18 px-6 my-auto pt-4 text-size-11 lh-11 rounded-half-circle font-weight-normal" href="">view 3+</a> 
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-middle">Food &amp; Drink</td>
                                                    <td class="text-center align-middle text-nowrap">
                                                        <div class="fw-6 fh-6 d-inline-block mr-5 bg-warning rounded-circle"></div>
                                                        Low Stock 
                                                    </td>
                                                    <td class="text-right font-weight-normal align-middle">$1.410</td>
                                                    <td class="text-center align-middle">
                                                        <a href=""><i class="mdi mdi-magnify" aria-hidden="true"></i> View Details</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-normal align-middle text-nowrap">Iphone X</td>
                                                    <td class="align-middle py-8">
                                                        <div class="fw-47 fh-37 item-thumbnail">
                                                            <img class="rounded-half-circle" src="images/preview-8.jpg" alt="Generic placeholder image">
                                                            <a class="fh-18 px-6 my-auto pt-4 text-size-11 lh-11 rounded-half-circle font-weight-normal" href="">view 1+</a> 
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-middle text-nowrap">Gadget &amp; Smartphone</td>
                                                    <td class="text-center align-middle">
                                                        <div class="fw-6 fh-6 d-inline-block mr-5 bg-success rounded-circle"></div>
                                                        Available 
                                                    </td>
                                                    <td class="text-right font-weight-normal align-middle">$6.753</td>
                                                    <td class="text-center align-middle text-nowrap">
                                                        <a href=""><i class="mdi mdi-magnify" aria-hidden="true"></i> View Details</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-normal align-middle text-nowrap">Rog Phone</td>
                                                    <td class="align-middle py-8">
                                                        <div class="fw-47 fh-37 item-thumbnail">
                                                            <img class="rounded-half-circle" src="images/preview-9.jpg" alt="Generic placeholder image">
                                                            <a class="fh-18 px-6 my-auto pt-4 text-size-11 lh-11 rounded-half-circle font-weight-normal" href="">view 5+</a> 
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-middle text-nowrap">Gadget &amp; Smartphone</td>
                                                    <td class="text-center align-middle">
                                                        <div class="fw-6 fh-6 d-inline-block mr-5 bg-danger rounded-circle"></div>
                                                        No Stock 
                                                    </td>
                                                    <td class="text-right font-weight-normal align-middle">$8.030</td>
                                                    <td class="text-center align-middle text-nowrap">
                                                        <a href=""><i class="mdi mdi-magnify" aria-hidden="true"></i> View Details</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-normal align-middle text-nowrap">Lemon Water</td>
                                                    <td class="align-middle py-8">
                                                        <div class="fw-47 fh-37 item-thumbnail">
                                                            <img class="rounded-half-circle" src="images/preview-6.jpg" alt="Generic placeholder image">
                                                            <a class="fh-18 px-6 my-auto pt-4 text-size-11 lh-11 rounded-half-circle font-weight-normal" href="">view 2+</a> 
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-middle text-nowrap">Food &amp; Drink</td>
                                                    <td class="text-center align-middle">
                                                        <div class="fw-6 fh-6 d-inline-block mr-5 bg-success rounded-circle"></div>
                                                        Available 
                                                    </td>
                                                    <td class="text-right font-weight-normal align-middle">$1.923</td>
                                                    <td class="text-center align-middle text-nowrap">
                                                        <a href=""><i class="mdi mdi-magnify" aria-hidden="true"></i> View Details</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row no-gutters px-20 py-15 align-items-center">
                                        <div class="col-12 col-md-2">
                                            <select class="w-100 fw-md-80 form-control outline rounded-half-circle">
                                                <option>5</option>
                                                <option>10</option>
                                                <option>20</option>
                                                <option>25</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-5 mt-20 mt-md-0 text-center">Showing 5 of 21 list</div>
                                        <div class="col-12 col-md-5 mt-20 mt-md-0">
                                            <nav aria-label="Pagination">
                                                <ul class="pagination no-border justify-content-center justify-content-md-end mb-0">
                                                    <li class="page-item"><a class="page-link" href="index2.html#">First</a></li>
                                                    <li class="page-item"><a class="page-link" href="index2.html#">Prev</a></li>
                                                    <li class="page-item"><a class="page-link" href="index2.html#">1</a></li>
                                                    <li class="page-item active"><a class="page-link" href="index2.html#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="index2.html#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="index2.html#">Next</a></li>
                                                    <li class="page-item"><a class="page-link" href="index2.html#">Last</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-3">
                                <div class="row sm-gutter">
                                    <div class="col-12 col-sm-6 col-lg-4 col-xl-12">
                                        <div class="content-box p-20 mt-10 fadeInRight animated">
                                            <div class="d-flex justify-content-between">
                                                <div class="box-title">Top Sellers</div>
                                                <a href="" class="mt-2">See All</a> 
                                            </div>
                                            <div class="media mt-20">
                                                <img class="mr-15 fw-45 rounded-half-circle" src="images/profile-1.jpg" alt="Generic placeholder image">
                                                <div class="media-body mt-4">
                                                    <div>Wade Finnegan</div>
                                                    <div class="mt-2 text-color-2">Hi, what's up?</div>
                                                </div>
                                            </div>
                                            <div class="media mt-20">
                                                <img class="mr-15 fw-45 rounded-half-circle" src="images/profile-2.jpg" alt="Generic placeholder image">
                                                <div class="media-body mt-4">
                                                    <div>Wiley Gladwyn</div>
                                                    <div class="mt-2 text-color-2">New job offer?</div>
                                                </div>
                                            </div>
                                            <div class="media mt-20">
                                                <img class="mr-15 fw-45 rounded-half-circle" src="images/profile-3.jpg" alt="Generic placeholder image">
                                                <div class="media-body mt-4">
                                                    <div>Ford Newton</div>
                                                    <div class="mt-2 text-color-2">Hi Reina...</div>
                                                </div>
                                            </div>
                                            <div class="media mt-20">
                                                <img class="mr-15 fw-45 rounded-half-circle" src="images/profile-1.jpg" alt="Generic placeholder image">
                                                <div class="media-body mt-4">
                                                    <div>Wade Finnegan</div>
                                                    <div class="mt-2 text-color-2">Hi, what's up?</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-8 col-xl-12">
                                        <div class="row sm-gutter">
                                            <div class="col-12 col-lg-6 col-xl-12">
                                                <div class="content-box p-20 mt-10 fadeInRight animated">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="box-title">Browser Visitor</div>
                                                        <a href="" class="mt-2">Refresh</a> 
                                                    </div>
                                                    <div class="d-flex mt-15">
                                                        <div class="mr-auto">Google Chrome</div>
                                                        <div class="badge rounded-half-circle px-6 py-4">52%</div>
                                                    </div>
                                                    <div class="d-flex mt-15">
                                                        <div class="mr-auto">Safari</div>
                                                        <div class="badge rounded-half-circle px-6 py-4">18%</div>
                                                    </div>
                                                    <div class="d-flex mt-15">
                                                        <div class="mr-auto">Microsoft Edge</div>
                                                        <div class="badge rounded-half-circle px-6 py-4">22%</div>
                                                    </div>
                                                    <div class="d-flex mt-15">
                                                        <div class="mr-auto">Opera</div>
                                                        <div class="badge rounded-half-circle px-6 py-4">15%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 col-xl-12">
                                                <div class="bg-white border border-color-3 p-20 mt-10 fadeInRight animated">
                                                    <div class="text-size-14 lh-22">Genius is one percent inspiration and ninety-nine percent perspiration.</div>
                                                    <div class="text-color-2 mt-5">1 Jan 2018, via desktop</div>
                                                    <div class="d-flex align-items-end mt-20">
                                                        <i class="mdi mdi-facebook text-size-20 lh-20 text-color-4" aria-hidden="true"></i> 
                                                        <div class="ml-auto"> <i class="mdi mdi-comment-multiple text-size-12 text-color-2 mr-2" aria-hidden="true"></i> 21 </div>
                                                        <div class="ml-10"> <i class="mdi mdi-star text-size-15 text-color-2 mr-2" aria-hidden="true"></i> 31 </div>
                                                    </div>
                                                </div>
                                                <div class="bg-white border border-color-3 p-20 mt-10 fadeInRight animated">
                                                    <div class="text-size-14 lh-22">Our greatest weakness lies in giving up. The most certain way to succeed.</div>
                                                    <div class="text-color-2 mt-5">3 Jan 2018, via mobile</div>
                                                    <div class="d-flex align-items-end mt-20">
                                                        <i class="mdi mdi-twitter text-size-20 lh-20 text-color-5" aria-hidden="true"></i> 
                                                        <div class="ml-auto"> <i class="mdi mdi-comment-multiple text-size-12 text-color-2 mr-2" aria-hidden="true"></i> 21 </div>
                                                        <div class="ml-10"> <i class="mdi mdi-star text-size-15 text-color-2 mr-2" aria-hidden="true"></i> 31 </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var lineChart = $("#line-chart")
                var lineData = {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Visitors Graph",
                        borderColor: "#8ED9FF",
                        pointRadius: 2,
                        borderWidth: 1,
                        backgroundColor: "#b6e2ff73",
                        pointBackgroundColor: "#8ED9FF",
                        data: [1, 22, 10, 27, 11, 40, 24, 18, 15, 32, 18, 5]
                    },
                    {
                        label: "Visitors Graph",
                        borderColor: "#2b52ab",
                        pointRadius: 2,
                        borderWidth: 1,
                        backgroundColor: "#2b52ab2b",
                        pointBackgroundColor: "#2b52ab",
                        data: [3, 24, 17, 17, 31, 21, 44, 2, 25, 21, 27, 6]
                    }]
                };

                var myLineChart = new Chart(lineChart, {
                    type: 'line',
                    data: lineData,
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontSize: '11',
                                    fontColor: '#969da5'
                                },
                                gridLines: {
                                    color: '#f6f8fd',
                                    zeroLineColor: '#f6f8fd'
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    color: '#f6f8fd',
                                    zeroLineColor: '#f6f8fd'
                                },
                                ticks: {
                                    fontSize: '11',
                                    fontColor: '#969da5'
                                }
                            }]
                        }
                    }
                })
            })
        </script>
    </body>
</html>