<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <div class="invoice-wrapper d-flex align-items-center justify-content-center">
            <div class="invoice-box py-50 fadeInDown animated">
                <div class="text-center text-sm-right">
                    <button class="btn bg-white border-color-1 fw-120 mr-10 rounded-half-circle text-color-6"><i class="mdi mdi-arrow-left" aria-hidden="true"></i> Back</button>
                    <button class="btn btn-primary fw-120 rounded-half-circle"><i class="mdi mdi-near-me" aria-hidden="true"></i> Print</button>
                </div>
                <div class="bg-white border border-color-1 px-25 py-50 px-sm-60 py-sm-80 mt-25 rounded">
                    <div class="d-block d-sm-flex justify-content-between">
                        <div class="text-center text-sm-left">
                            <img class="fw-65" src="images/logo.png" alt="Generic placeholder image">
                        </div>
                        <div class="text-center text-sm-right mt-50 mt-sm-0">
                            <div class="text-size-15 lh-16 font-weight-normal">Left4code</div>
                            <div class="mt-10">3590 Hawks Nest Lane, Stlouis, MO</div>
                            <div>United States</div>
                            <div class="mt-15">wiley.gladwyn@left4code.com</div>
                            <div>314-750-1917</div>
                        </div>
                    </div>
                    <div class="d-block d-sm-flex justify-content-between mt-50">
                        <div class="text-center text-sm-left">
                            <div class="text-size-16 lh-16 font-weight-normal">RECIPIENT</div>
                            <div class="text-size-15 lh-16 mt-20 font-weight-normal">Wade Finnegan</div>
                            <div class="mt-10">2772 Shinn Avenue, Pittsburgh, PA</div>
                            <div>United States</div>
                            <div class="mt-15">wade.finnegan@left4code.com</div>
                            <div>724-572-0591</div>
                        </div>
                        <div class="text-center text-sm-right mt-40 mt-sm-0">
                            <div class="d-none d-sm-block text-size-30 lh-26 font-weight-normal">Invoice</div>
                            <div class="mt-20 text-size-16 lh-16 font-weight-normal">Invoice No.</div>
                            <div class="mt-5">#10052015</div>
                            <div class="mt-20 text-size-16 lh-16 font-weight-normal">Invoice Date</div>
                            <div class="mt-5">May 10 2015</div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-50">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Description</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col" class="text-right">Rate</th>
                                    <th scope="col" class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-nowrap">Panthera</td>
                                    <td>11</td>
                                    <td class="text-right text-nowrap">25,00 USD</td>
                                    <td class="text-right text-nowrap">275,00 USD</td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap">Invoice Page Redesign</td>
                                    <td>1</td>
                                    <td class="text-right text-nowrap">5,00 USD</td>
                                    <td class="text-right text-nowrap">5,00 USD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ml-auto mt-30 mt-sm-0 w-sm-50 pr-sm-20">
                        <div class="d-flex justify-content-between mt-5">
                            <div class="">Subtotal</div>
                            <div class="text-right">280,00 USD</div>
                        </div>
                        <div class="d-flex justify-content-between mt-20">
                            <div class="">Discount 10%</div>
                            <div class="text-right">28,00 USD</div>
                        </div>
                        <div class="d-flex justify-content-between mt-20 font-weight-normal">
                            <div class="">Total</div>
                            <div class="text-right text-size-15 lh-15 font-weight-normal">252,00 USD</div>
                        </div>
                    </div>
                    <div class="mt-50 mt-sm-100 text-center text-sm-left">
                        <div class="text-size-16 lh-16 font-weight-normal">Notes</div>
                        <div class="mt-10">Please make the payment of this invoice by transfer to the account <span class="font-weight-normal">xxxx-xxxx-xx-xxxxxxxxxxxx</span>. Thank you for your confidence in our work.</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>