<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <aside class="side-nav-box">
            <a class="logo-box" href="javascript:;">
                <img class="logo" src="images/logo-light.png" alt="Generic placeholder image">
                <div class="title text-white">Panthera</div>
            </a>
            <div class="side-nav">
                <div class="title">Start</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="javascript:;" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-buffer" aria-hidden="true"></i></div>
                                <div class="title">E-Commerce</div>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="index2.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                    </li>
                                    <li>
                                        <a href="index.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-chart-histogram" aria-hidden="true"></i></div>
                                <div class="title">Server Monitoring</div>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="index4.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Vertical Layout</a>
                                    </li>
                                    <li>
                                        <a href="index3.html"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Horizontal Layout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="title">Variant</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="dark.html" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-buffer" aria-hidden="true"></i></div>
                                <div class="title">Dark</div>
                            </a>
                        </li>
                        <li>
                            <a href="light.html" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-chart-histogram" aria-hidden="true"></i></div>
                                <div class="title">Light</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">Pages</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="icon.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> 
                                <div class="title">Icon</div>
                            </a>
                        </li>
                        <li>
                            <a href="login.html" class="menu-item">
                                <i class="icon mdi mdi-database-lock" aria-hidden="true"></i> 
                                <div class="title">Login</div>
                            </a>
                        </li>
                        <li>
                            <a href="register.html" class="menu-item">
                                <i class="icon mdi mdi-home-lock-open" aria-hidden="true"></i> 
                                <div class="title">Register</div>
                            </a>
                        </li>
                        <li>
                            <a href="forgot-password.html" class="menu-item">
                                <i class="icon mdi mdi-collage" aria-hidden="true"></i> 
                                <div class="title">Forgot Password</div>
                            </a>
                        </li>
                        <li>
                            <a href="error.html" class="menu-item">
                                <i class="icon mdi mdi-feature-search" aria-hidden="true"></i> 
                                <div class="title">Error Page</div>
                            </a>
                        </li>
                        <li>
                            <a href="invoice.html" class="menu-item">
                                <i class="icon mdi mdi-credit-card" aria-hidden="true"></i> 
                                <div class="title">Invoice</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="menu-item">
                                <div class="icon"><i class="icon mdi mdi-buffer" aria-hidden="true"></i></div>
                                <div class="title">3 Level Menu</div>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 1</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 2</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 3</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="title">Apps</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="file-manager.html" class="menu-item">
                                <i class="icon mdi mdi-folder-open" aria-hidden="true"></i> 
                                <div class="title">File Manager</div>
                            </a>
                        </li>
                        <li>
                            <a href="mail.html" class="menu-item">
                                <i class="icon mdi mdi-email-check" aria-hidden="true"></i> 
                                <div class="title">Mailbox</div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html" class="menu-item">
                                <i class="icon mdi mdi-forum" aria-hidden="true"></i> 
                                <div class="title">Chat</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">Form</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="form.html" class="menu-item">
                                <i class="icon mdi mdi-file" aria-hidden="true"></i> 
                                <div class="title">General Form</div>
                            </a>
                        </li>
                        <li>
                            <a href="form-validation.html" class="menu-item">
                                <i class="icon mdi mdi-file-alert" aria-hidden="true"></i> 
                                <div class="title">Form Validation</div>
                            </a>
                        </li>
                        <li>
                            <a href="custom-form.html" class="menu-item">
                                <i class="icon mdi mdi-file-compare" aria-hidden="true"></i> 
                                <div class="title">Custom Form</div>
                            </a>
                        </li>
                        <li>
                            <a href="extended-form.html" class="menu-item">
                                <i class="icon mdi mdi-file-document-outline" aria-hidden="true"></i> 
                                <div class="title">Extended Form</div>
                            </a>
                        </li>
                        <li>
                            <a href="input-group.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-text" aria-hidden="true"></i> 
                                <div class="title">Input Group</div>
                            </a>
                        </li>
                        <li>
                            <a href="button.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-today" aria-hidden="true"></i> 
                                <div class="title">Button</div>
                            </a>
                        </li>
                        <li>
                            <a href="button-group.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-multiple" aria-hidden="true"></i> 
                                <div class="title">Button Group</div>
                            </a>
                        </li>
                        <li>
                            <a href="dropdown.html" class="menu-item">
                                <i class="icon mdi mdi-calendar-multiselect" aria-hidden="true"></i> 
                                <div class="title">Dropdown</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">UI Elements</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="alert.html" class="menu-item">
                                <i class="icon mdi mdi-message-alert" aria-hidden="true"></i> 
                                <div class="title">Alert</div>
                            </a>
                        </li>
                        <li>
                            <a href="badge.html" class="menu-item">
                                <i class="icon mdi mdi-cube" aria-hidden="true"></i> 
                                <div class="title">Badge</div>
                            </a>
                        </li>
                        <li>
                            <a href="breadcrumb.html" class="menu-item">
                                <i class="icon mdi mdi-code-less-than" aria-hidden="true"></i> 
                                <div class="title">Breadcrumb</div>
                            </a>
                        </li>
                        <li>
                            <a href="card.html" class="menu-item">
                                <i class="icon mdi mdi-dice-2" aria-hidden="true"></i> 
                                <div class="title">Card</div>
                            </a>
                        </li>
                        <li>
                            <a href="carousel.html" class="menu-item">
                                <i class="icon mdi mdi-domain" aria-hidden="true"></i> 
                                <div class="title">Carousel</div>
                            </a>
                        </li>
                        <li>
                            <a href="chart.html" class="menu-item">
                                <i class="icon mdi mdi-chart-bar" aria-hidden="true"></i> 
                                <div class="title">Chart</div>
                            </a>
                        </li>
                        <li>
                            <a href="collapse.html" class="menu-item">
                                <i class="icon mdi mdi-file-document-box" aria-hidden="true"></i> 
                                <div class="title">Collapse</div>
                            </a>
                        </li>
                        <li>
                            <a href="color.html" class="menu-item">
                                <i class="icon mdi mdi-folder-edit" aria-hidden="true"></i> 
                                <div class="title">Color</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">UI Blocks</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="grid.html" class="menu-item">
                                <i class="icon mdi mdi-map-outline" aria-hidden="true"></i> 
                                <div class="title">Grid</div>
                            </a>
                        </li>
                        <li>
                            <a href="jumbotron.html" class="menu-item">
                                <i class="icon mdi mdi-microsoft" aria-hidden="true"></i> 
                                <div class="title">Jumbotron</div>
                            </a>
                        </li>
                        <li>
                            <a href="list-group.html" class="menu-item">
                                <i class="icon mdi mdi-map-legend" aria-hidden="true"></i> 
                                <div class="title">List Group</div>
                            </a>
                        </li>
                        <li>
                            <a href="lists.html" class="menu-item">
                                <i class="icon mdi mdi-note-multiple" aria-hidden="true"></i> 
                                <div class="title">Lists</div>
                            </a>
                        </li>
                        <li>
                            <a href="modal.html" class="menu-item">
                                <i class="icon mdi mdi-package" aria-hidden="true"></i> 
                                <div class="title">Modal</div>
                            </a>
                        </li>
                        <li>
                            <a href="pagination.html" class="menu-item">
                                <i class="icon mdi mdi-palette-swatch" aria-hidden="true"></i> 
                                <div class="title">Pagination</div>
                            </a>
                        </li>
                        <li>
                            <a href="progress.html" class="menu-item">
                                <i class="icon mdi mdi-playlist-edit" aria-hidden="true"></i> 
                                <div class="title">Progress</div>
                            </a>
                        </li>
                        <li>
                            <a href="table.html" class="menu-item">
                                <i class="icon mdi mdi-rounded-corner" aria-hidden="true"></i> 
                                <div class="title">Table</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title">Text</div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="text-utilities.html" class="menu-item">
                                <i class="icon mdi mdi-stairs" aria-hidden="true"></i> 
                                <div class="title">Text Utilities</div>
                            </a>
                        </li>
                        <li>
                            <a href="typography.html" class="menu-item">
                                <i class="icon mdi mdi-text" aria-hidden="true"></i> 
                                <div class="title">Typography</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="top-bar-box">
            <div class="container">
                <div class="top-bar">
                    <div class="page-info">HOME / PRODUCTS / PANTHERA</div>
                    <div class="top-side-box">
                        <div class="notification-box">
                            <div class="notification-item">
                                <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-view-grid" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Messages</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="messages-content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Geena Fern</div>
                                                <div class="messages">Changed group name.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Added new post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
                    <div class="user-profile">
                        <img class="user-image" src="images/profile-1.jpg" alt="Generic placeholder image">
                        <div class="info">
                            <div class="user-name">Wiley Gladwyn</div>
                            <div class="user-info">Administrator</div>
                        </div>
                        <div class="user-profile-content">
                            <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="container">
                <div class="box-layout">
                    <div class="main-layout full-width">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="content-box fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Basic List Group</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <ul class="list-group">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Disabled Items</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <ul class="list-group">
                                            <li class="list-group-item disabled">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Contextual Classes</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <ul class="list-group">
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
                                            <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
                                            <li class="list-group-item list-group-item-success">A simple success list group item</li>
                                            <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                                            <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                                            <li class="list-group-item list-group-item-info">A simple info list group item</li>
                                            <li class="list-group-item list-group-item-light">A simple light list group item</li>
                                            <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Javascript Behavior</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <div class="d-flex">
                                            <div class="w-30 mr-20">
                                                <div class="list-group" id="list-tab" role="tablist"> <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="list-group.html#list-home" role="tab" aria-controls="list-home">Home</a> <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="list-group.html#list-profile" role="tab" aria-controls="list-profile">Profile</a> <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="list-group.html#list-messages" role="tab" aria-controls="list-messages">Messages</a> <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="list-group.html#list-settings" role="tab" aria-controls="list-settings">Settings</a> </div>
                                            </div>
                                            <div class="w-70">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Velit aute mollit ipsum ad dolor consectetur nulla officia culpa adipisicing exercitation fugiat tempor. Voluptate deserunt sit sunt nisi aliqua fugiat proident ea ut. Mollit voluptate reprehenderit occaecat nisi ad non minim tempor sunt voluptate consectetur exercitation id ut nulla. Ea et fugiat aliquip nostrud sunt incididunt consectetur culpa aliquip eiusmod dolor. Anim ad Lorem aliqua in cupidatat nisi enim eu nostrud do aliquip veniam minim.</div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Cupidatat quis ad sint excepteur laborum in esse qui. Et excepteur consectetur ex nisi eu do cillum ad laborum. Mollit et eu officia dolore sunt Lorem culpa qui commodo velit ex amet id ex. Officia anim incididunt laboris deserunt anim aute dolor incididunt veniam aute dolore do exercitation. Dolor nisi culpa ex ad irure in elit eu dolore. Ad laboris ipsum reprehenderit irure non commodo enim culpa commodo veniam incididunt veniam ad.</div>
                                                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim tempor. Consectetur est minim nostrud nostrud consectetur irure labore voluptate irure. Ipsum id Lorem sit sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.</div>
                                                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="content-box fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Active Item</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <ul class="list-group">
                                            <li class="list-group-item active">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Flush</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">With Badges</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio <span class="badge badge-primary badge-pill">14</span> </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span> </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-box mt-20 fadeInUp animated">
                                    <div class="row no-gutters p-20 align-items-center">
                                        <div class="col-12 box-title">Custom Content</div>
                                    </div>
                                    <div class="px-20 pb-20">
                                        <div class="list-group">
                                            <a href="list-group.html#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">
                                                        List group item heading
                                                    </h5>
                                                    <small>3 days ago</small> 
                                                </div>
                                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                                <small>Donec id elit non mi porta.</small> 
                                            </a>
                                            <a href="list-group.html#" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">
                                                        List group item heading
                                                    </h5>
                                                    <small class="text-muted">3 days ago</small> 
                                                </div>
                                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                                <small class="text-muted">Donec id elit non mi porta.</small> 
                                            </a>
                                            <a href="list-group.html#" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">
                                                        List group item heading
                                                    </h5>
                                                    <small class="text-muted">3 days ago</small> 
                                                </div>
                                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                                <small class="text-muted">Donec id elit non mi porta.</small> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>