<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <title>Panthera</title>
    </head>
    <body>
        <div class="top-bar-box pl-0">
            <div class="container-fluid">
                <div class="top-bar">
                    <a class="logo-box" href="javascript:;">
                        <img class="logo" src="images/logo.png" alt="Generic placeholder image">
                        <div class="title">Panthera</div>
                    </a>
                    <div class="page-info">HOME / PRODUCTS / PANTHERA</div>
                    <div class="top-side-box">
                        <div class="notification-box">
                            <div class="notification-item">
                                <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Notifications</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                                <div class="time">1 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                                <div class="time">5 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="info">
                                                <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                                <div class="time">4 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-item">
                                <i class="icon mdi mdi-checkbox-multiple-blank" aria-hidden="true"></i> 
                                <div class="bullet"></div>
                                <div class="notification-content">
                                    <div class="header">
                                        <div class="title">Messages</div>
                                        <div class="action"> <a href="">Mark all as read</a> <a href="">See all</a> </div>
                                    </div>
                                    <div class="messages-content">
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Geena Fern</div>
                                                <div class="messages">Changed group name.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-1.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Added new post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-2.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Wiley Gladwyn</div>
                                                <div class="messages">Shared tour post.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                        <a href="javascript:;" class="item">
                                            <img src="images/profile-3.jpg" alt="Generic placeholder image">
                                            <div class="messages-box">
                                                <div class="name">Nadia Raelene</div>
                                                <div class="messages">Posted in UI/UX Event 2018.</div>
                                                <div class="time">2 Hours ago</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
                    <div class="user-profile">
                        <img class="user-image" src="images/profile-1.jpg" alt="Generic placeholder image">
                        <div class="info">
                            <div class="user-name">Wiley Gladwyn</div>
                            <div class="user-info">Administrator</div>
                        </div>
                        <div class="user-profile-content">
                            <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                            <a href="javascript:;"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                        </div>
                    </div>
                </div>
                <div class="mail-top-bar-box">
                    <div class="mail-top-bar">
                        <div class="side-bar d-none d-lg-flex align-items-center text-size-15 font-weight-normal">Mailbox</div>
                        <div class="main-bar">
                            <div class="row h-100">
                                <div class="col-12 col-xl-5">
                                    <div class="d-flex align-items-center h-100 position-relative">
                                        <input type="text" class="form-control w-100 py-7 border-color-1" placeholder="Search">
                                        <i class="mdi mdi-magnify text-size-18 position-absolute post-14 posr-8 text-color-2" aria-hidden="true"></i> 
                                    </div>
                                </div>
                                <div class="col-7 d-none d-xl-flex align-items-center h-100">
                                    <div class="ml-auto">3.34 GB (19%) of 17 GB used</div>
                                    <div class="fw-3 fh-3 rounded-circle bg-color-1 d-inline-block mx-8"></div>
                                    <a class="text-primary" href="">More details</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper ml-0 mt-150 mt-lg-105">
            <div class="container-fluid">
                <div class="box-layout">
                    <div class="mail-menu-layout fadeInLeft animated">
                        <button class="btn btn-primary fw-140 mt-10 font-weight-normal">COMPOSE</button>
                        <div class="title">Mailboxes</div>
                        <ul>
                            <li class="active">
                                <a href="index.html">
                                    <i class="icon mdi mdi-inbox" aria-hidden="true"></i> Inbox 
                                    <div class="badge badge-pill badge-secondary">120</div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-star" aria-hidden="true"></i> Starred</a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-clock" aria-hidden="true"></i> Snoozed</a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <i class="icon mdi mdi-arrow-right-bold-box" aria-hidden="true"></i> Important 
                                    <div class="badge badge-pill badge-secondary">73</div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-collage" aria-hidden="true"></i> Sent</a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <i class="icon mdi mdi-file" aria-hidden="true"></i> Drafts 
                                    <div class="badge badge-pill badge-secondary">3</div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html"><i class="icon mdi mdi-delete" aria-hidden="true"></i> Trash</a>
                            </li>
                        </ul>
                        <div class="title">Label</div>
                        <ul>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-danger rounded-circle d-inline-block mr-10"></div>
                                    Red
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-primary rounded-circle d-inline-block mr-10"></div>
                                    Blue
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-warning rounded-circle d-inline-block mr-10"></div>
                                    Yellow
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div class="fw-8 fh-8 mr-5 bg-success rounded-circle d-inline-block mr-10"></div>
                                    Green
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mail-main-layout">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-5">
                                <div class="mb-20 d-flex align-items-center">
                                    <div class="mr-auto">Showing 1 - 50 of 1,653</div>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="btn border-color-1 btn-sm" href="index.html"><i class="icon mdi mdi-chevron-left text-size-14" aria-hidden="true"></i></a>
                                        <a class="btn border-color-1 btn-sm" href="index.html"><i class="icon mdi mdi-chevron-right text-size-14" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="content-box fadeInUp animated">
                                    <div class="mail-list">
                                        <div class="mail unread border-bottom border-color-1 p-20">
                                            <div class="d-flex">
                                                <div class="font-weight-normal text-primary">
                                                    <div class="fw-8 fh-8 mr-5 bg-warning rounded-circle d-inline-block"></div>
                                                    Wade Finnegan 
                                                </div>
                                                <div class="ml-auto">10:12 AM</div>
                                            </div>
                                            <div class="mt-10">Black Friday Discounts</div>
                                            <div class="mt-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</div>
                                        </div>
                                        <div class="mail unread selected border-bottom border-color-1 p-20">
                                            <div class="d-flex">
                                                <div class="user-name font-weight-normal text-primary">Wiley Gladwyn</div>
                                                <div class="ml-auto">10:12 AM</div>
                                            </div>
                                            <div class="mt-10">Black Friday Discounts</div>
                                            <div class="mt-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</div>
                                        </div>
                                        <div class="mail unread border-bottom border-color-1 p-20">
                                            <div class="d-flex">
                                                <div class="font-weight-normal text-primary">
                                                    <div class="fw-8 fh-8 mr-5 bg-warning rounded-circle d-inline-block"></div>
                                                    Wiley Gladwyn 
                                                </div>
                                                <div class="ml-auto">10:12 AM</div>
                                            </div>
                                            <div class="mt-10">Black Friday Discounts</div>
                                            <div class="mt-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</div>
                                        </div>
                                        <div class="mail border-bottom border-color-1 p-20">
                                            <div class="d-flex">
                                                <div class="font-weight-normal text-primary">Wiley Gladwyn</div>
                                                <div class="ml-auto">10:12 AM</div>
                                            </div>
                                            <div class="mt-10">Black Friday Discounts</div>
                                            <div class="mt-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</div>
                                        </div>
                                        <div class="mail p-20">
                                            <div class="d-flex">
                                                <div class="font-weight-normal text-primary">Wiley Gladwyn</div>
                                                <div class="ml-auto">10:12 AM</div>
                                            </div>
                                            <div class="mt-10">Black Friday Discounts</div>
                                            <div class="mt-10">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 col-xl-7">
                                <div class="my-20 mt-xl-0 d-block d-sm-flex align-items-center">
                                    <div class="font-weight-normal text-size-16">What day is Black Friday in 2018?</div>
                                    <div class="ml-auto mt-15 mt-sm-0">
                                        <a class="btn border-color-1 btn-sm" href="index.html"><i class="icon mdi mdi-delete text-size-14" aria-hidden="true"></i></a>
                                        <div class="btn-group ml-10" role="group" aria-label="Basic example">
                                            <a class="btn border-color-1 btn-sm" href="index.html"><i class="icon mdi mdi-undo text-size-14" aria-hidden="true"></i></a>
                                            <a class="btn border-color-1 btn-sm" href="index.html"><i class="icon mdi mdi-undo-variant text-size-14" aria-hidden="true"></i></a>
                                            <a class="btn border-color-1 btn-sm" href="index.html"><i class="icon mdi mdi-redo text-size-14" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box p-20 fadeInUp animated">
                                    <div class="media">
                                        <img class="mr-15 fw-40 rounded-half-circle" src="images/profile-1.jpg" alt="Generic placeholder image">
                                        <div class="media-body d-block d-sm-flex align-items-center">
                                            <div class="mb-2 mb-sm-0">
                                                <div class="mb-2"><span class="font-weight-normal">Wade</span> finnegan.wade@gmail.com</div>
                                                <div class="mt-2">to Wiley</div>
                                            </div>
                                            <div class="ml-auto">5:20 AM (13 hours ago)</div>
                                        </div>
                                    </div>
                                    <img class="w-100 mt-25" src="images/preview-9.jpg" alt="Card image cap">
                                    <p class="mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>